.business {
    margin: auto;
    margin-top: 70px;
    padding: 0;
    /*    border: 1px dashed black;*/
    
    height: 122px;
    width: 22%;
    /*    display: inline-block*/
    /*    display: block*/
}

.square {
    height: 100px;
    width: 100px;
}

.leftPanel {
    width: 159px;
    text-align: right;
    margin-left: auto;
    padding-right: 10px;
}

.dashedVertialLine {
    border: 2px bashed black;
    /*    height: inherit;*/
}

.rightPanel {
    height: inherit;
    width: 159px;
    text-align: left;
    margin-right: auto;
    padding-left: 10px;
}

.left_side_info {
    font-family: Josefin Sans;
}
/* Card Stuff */

#name-card {
    font-family: museo slab, Times;
    font-size: 2em;
    line-height: 1.2;
}

#subtitle-card {
    font-family: museo slab, Times;
    font-size: 0.90em
}

#center_line-card {
    border: black 1px dashed;
}

.heading-container {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    
    display: -webkit-flex;
    /* NEW - Chrome */
    
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    
    padding: 20px 0px;
}

.footer {
    padding: 30px;
}

.img-gallery ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.img-gallery ul li {
    list-style: none;
    margin-bottom: 25px;
}

.img-gallery ul li img {
    cursor: pointer;
    padding: 10px;
}

.link-container {
    text-align: center;
}