.business {
    margin: auto;
    margin-top: 70px;
    padding: 0;
/*    border: 1px dashed black;*/
    height: 122px;
    width: 22%;
/*    display: inline-block*/
    display: block
}

.square {
    height: 100px;
    width: 100px;
}


.leftPanel {
    height: inherit;
    width: 149px;
    text-align: right;
    margin-left: auto; 
    padding-right: 10px;
}

.dashedVertialLine {
    border: 2px bashed black;
    height: inherit;
    width: 1px;
}

.rightPanel {
    height: inherit;
    width: 149px;
    text-align: left;
    margin-right: auto; 
    padding-left: 10px;
}

.left_side_info {
    font-family: Josefin Sans;
}


/* Card Stuff */

#name-card {
    font-family: museo slab, Times;
    font-size: 2em;
    line-height: 1.2;
}

#subtitle-card {
    font-family: museo slab, Times; font-size: 0.90em
}

#center_line-card {
    border: black 1px dashed;
}